/* load font */

@font-face{
    font-family: lunchtype;
    src: url("../fonts/Lunchtype22/lunchtype22-regular-webfont.ttf")
  }
  @font-face{
    font-family: lunchtypeBold;
    src: url("../fonts/Lunchtype22/lunchtype22-medium-webfont.ttf")
  }
  @font-face{
    font-family: lunchtypeItalic;
    src: url("../fonts/Lunchtype23/lunchtype23-regular-italic-webfont.ttf")
  }
  @font-face{
    font-family: lunchtypeBoldItalic;
    src: url("../fonts/Lunchtype23/lunchtype23-medium-italic-webfont.ttf")
  }
  @font-face{
    font-family: lunchtypeExt;
    src: url("../fonts/Lunchtype24/lunchtype24-regular-expanded-webfont.ttf")
  }
  @font-face{
    font-family: lunchtypeBoldExt;
    src: url("../fonts/Lunchtype24/lunchtype24-medium-expanded-webfont.ttf")
  }
  