/* media query */

@media (max-width: 1000px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {

    .card-product-photos {
      width: 100%;
    }
    .card-description {
      width: 100%;
    }
    .card-description {
      border-top: 1px solid #0039ca;
      border-left: none;
    }

    /* news on homepage */
    .news_column{
      flex-basis: auto;
      flex-direction: row;
      justify-content: space-between;
    }
    .news_home_container, .news_home_img{
      width: 47%;
    }

    /* news PAGE  */
    .news_page_column{
      flex-direction: column;
    }
    .news_page_img, .news_page_container{
      width: 100%;
    }

    /* footer */
    .footer {
      flex-direction: column;
    }

    .footer_social1, .footer_social2 {
      margin-top: 1.2em;
      text-align: center;
      border-top: 1px solid white;
    }

    .footer_social2 {
      margin-bottom: 1.2em;
    }
}

@media screen and (max-width: 800px) {
  .sidenav {
    display: none;
  }
  div.main {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {

    /* padding */
    .white_border {
      padding: 1em 1.5em 2em 1.5em;
    }

    /* news on homepage */
    .news_column{
      flex-basis: auto;
      flex-direction: column;
      justify-content: center;
    }
    .news_home_container, .news_home_img{
      width: 100%;
    }

}

@media screen and (max-width: 420px) {
  html {
    padding: 0;
  }

  h1{
    font-size: 1.2em;
  }

  .news_container{
    padding: 0 3%;
  }

  #navigation{
    display: none;
  }
  
  #navigation.active{
    display: block;
    position: sticky;
    top: 0;
    background-color: #0039ca;
    padding: 50px 0;
    z-index: 1000;
  }

  #navigation.active a{
    display: block;
    color: #fff;
  }

  .burger{
    display: block;
    position: sticky;
    top: 0;
    z-index: 1100;
    /* border-bottom: #fff 1px solid; */
  }

  .long_banner{
    background-position: left;
    height: 500px;
  }
}
