/* media query */

@media (max-width: 1000px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .sidenav {
    display: none;
  }
  div.main {
    margin-left: 0;
  }
}

@media screen and (max-width: 850px) {

    .card-product-photos {
      width: 100%;
    }
    .card-description {
      width: 100%;
    }
    .card-description {
      border-top: 1px solid #0039ca;
      border-left: none;
    }

    /* news on homepage */
    .news_column{
      flex-basis: auto;
      flex-direction: row;
      justify-content: space-between;
    }
    .news_container, .news_img{
      flex-basis: 47%;
    }

    /* news PAGE  */
    .news_page_column{
      flex-direction: column;
    }
    .news_page_img, .news_page_container{
      width: 100%;
    }

    /* footer */
    .footer {
      flex-direction: column;
    }

    .footer_social1, .footer_social2 {
      margin-top: 1.2em;
      text-align: center;
      border-top: 1px solid white;
    }

    .footer_social2 {
      margin-bottom: 1.2em;
    }
}

@media screen and (max-width: 600px) {

    /* padding */
    .white_border {
      padding: 1em 1.5em 2em 1.5em;
    }

    /* news on homepage */
    .news_column{
      flex-basis: auto;
      flex-direction: column;
      justify-content: center;
    }
    .news_container, .news_img{
      flex-basis: 100%;
    }
    #navigation{
      display: block;
    }
    .burger{
      display: none;
    }
}

@media screen and (max-width: 420px) {
  html {
    padding: 0;
  }

  h1{
    font-size: 1.2em;
  }

  .news_container, .news_img{
    padding: 0 3% 0 3%;
  }

  /* wacky hamburger menu  */
  .navigation{
    display: none;
  }
  .navigation a{
    display: block;
  }
  .burger{
    display: block;
  }
}
