* {
  box-sizing: border-box;
  background-color: black;
}

html {
  padding: 2em 5em 2em 5em;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

/* sidebar */

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #157D70;
  overflow-x: hidden;
  padding-top: 50px;
  overflow: auto;
}

.sidenav a {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 5px 8px 6px 20px;
  text-decoration: none;
  font-size: 1em;
  color: #bfd9d5;
  display: block;
}

.sidenav a:hover {
  color: white;
  text-decoration: underline;
}

.main {
  margin-left: 280px;
  padding: 0px 10px;
}

/* main nav */

.navigation {
  align-items: center;
  display: inline-table;
  text-align: center;
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  padding: 1em 0em 2em 0em;
  font-size: .9em;
}

nav a {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: black;
  display: inline;
  letter-spacing: .6px;
  margin: 10px 15px 20px;
}

nav a:hover {
  color: #157D70;
  border-bottom: 2px solid #157D70;
  transition: color;
}

/* basic text */

h3 {
  font-family: acumin-pro, sans-serif;
}

p {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
}

.long_para {
  max-width: 600px;
}

/* button + form */

button {
  border-color: #157D70;
  background-color: #157D70;
  color: white;
  font-family: acumin-pro-wide, sans-serif;
  letter-spacing: .3px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  padding: 5px 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}

button:hover, button:focus {
  background-color: #0e544c;
  border-color: #0e544c;
  color: white;
}

#check_out, #continue_to {
  width: 100%;
}

label {
  display: inline;
}

input {
  font-size: 16px;
  margin-bottom: 5px;
}

input:focus {
  border: 1px solid #157D70;
}

/* payment form + cart */

.all {
  padding-top: 2em;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-25 {
  -ms-flex: 40%;
  flex: 40%;
  background-color: rgb(249, 249, 249);
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 60%;
  flex: 60%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 15px;
}

.container {
  padding: 5px 20px 20px 20px;
}

.container input {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid darkgrey;
}

span.price {
  float: right;
  color: grey;
}

.div_cart {
  min-width: 300px;
}

/* cart in-text link */

.container a {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  text-decoration: none;
  color: grey;
  border-bottom: 1px solid #157D70;
  transition: color .5s ease-in-out;
}

.container a:hover {
  color: #157D70;
}

/* media qurrey */

@media (max-width: 1000px) {
  html {
    padding: 2em 5em 2em 5em;
  }
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .sidenav {
    display: none
  }
  div.main {
    margin-left: 0;
  }
}

@media screen and (max-width: 420px) {
  html {
    padding: 0;
  }
}

/* style guide */

.element {
  background-color: white;
  padding: 10px 20px 20px;
  margin-bottom: 15px;
  border: 1px solid darkgrey;
  border-radius: 3px;
}

.in-text {
  text-decoration: none;
  border-bottom: 2px solid #157D70;
  color: black;
  transition: color .5s ease-in-out;
}

.in-text:hover {
  color: #157D70;
}

.field_label label {
  display: block;
  margin-bottom: 5px;
}

.field_label input {
  display: block;
  padding: 8px;
  color: rgb(11, 11, 11);
}

#review {
  width: 60%;
  height: 200px;
  font-family: acumin-pro, sans-serif;
  font-size: 1em;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid rgb(217, 217, 217);
}

img {
  height: auto;
  max-width: 80%;
  -webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#image-link:hover {
  -webkit-transform: scale(1.3);
  transform: scale(0.9);
}

.head1 {
  font-size: 2.3em;
  color: #157D70;
}

.head2 {
  font-size: 1.8em;
}

.head3 {
  font-size: 1.2em;
}

/* product listing */

.listing_card {
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.product_listing {
  display: flex;
  flex-wrap: wrap;
  }

.price {
  color: grey;
}

.listing_card img {
  height: auto;
  max-width: 80%;
  border: none;
  -webkit-transform: scale(0.8);
	transform: scale(0.9);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.listing_card img:hover {
  border: none;
  -webkit-transform: scale(1.3);
  transform: scale(1);
  cursor: pointer;
}

.description {
  font-size: 1.3em;
}

.product_listing button {
  width: 45%;
  display: inline;
}

.add_to {
  border-color: #1cb09d;
  background-color: #1cb09d;
  color: white;
  font-family: acumin-pro-wide, sans-serif;
  letter-spacing: .3px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  padding: 5px 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}

.add_to:hover, .add_to:focus {
  background-color: #0e544c;
  border-color: #0e544c;
  color: white;
}
