* {
  box-sizing: border-box;
}

html {
  padding: 2em 5em 2em 5em;
  font-family: lunchtype, Helvetica, sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  background-color: white;
}

/* basic text */
hr {
  border-top: 1px solid #0039CA;
}

h1{
  font-family: lunchtypeBoldExt, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #0039CA;

}
h2{
  font-family: lunchtypeExt, Helvetica, sans-serif;
  color: #0039CA;
  font-size: 2rem;
  font-weight: normal;
  margin: 1.5em 0 .5em 0;
}
h3 {
  font-family: lunchtypeBold, Helvetica, sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.5em;
}

p {
  font-family: lunchtype, Helvetica, sans-serif;
  font-style: normal;
  color: #353535;
  line-height: 1.4em;
  letter-spacing: .03em;
  font-size: .95rem;
}

.long_para {
  max-width: 600px;
}

/* sidebar */

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0039CA;
  overflow-x: hidden;
  padding-top: 50px;
  overflow: auto;
}

.sidenav a {
  font-family: lunchtypeBoldExt, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 5px 13px 6px 35px;
  text-decoration: none;
  font-size: 1.3em;
  color: #3A68DD;
  display: block;
}

.sidenav a:hover {
  color: white;
  text-decoration: underline;
}

.main {
  margin-left: 280px;
  padding: 0px 10px;
}

/* main nav */

.navigation {
  align-items: center;
  display: inline-table;
  text-align: center;
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  padding: 1em 0em 2em 0em;
  font-size: .9em;
}

nav a {
  font-family: lunchtypeBoldExt, Helvetica, sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #0039CA;
  display: inline;
  letter-spacing: .6px;
  margin: 10px 15px 20px;
}

nav a:hover {
  color: #FFAA12;
  border-bottom: 2px solid #FFAA12;
  transition: color;
}

/* button + form */

button {
  border-color: #0039CA;
  background-color: #0039CA;
  color: white;
  font-family: lunchtype, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  padding: 5px 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  letter-spacing: 0.09em;
}

button:hover, button:focus {
  background-color: #FFAA12;
  border-color: #FFAA12;
  color: white;
}

#check_out, #continue_to {
  width: 100%;
}

label {
  display: inline;
  font-family: lunchtype, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.15rem;
  line-height: 1.5em;
}

input, textarea {
  font-size: 16px;
  margin-bottom: 5px;
  border: 1px solid #577CDA;
  background-color: rgb(248, 250, 255);
}

input:hover, textarea:hover{
  background-color: rgb(234, 239, 250);
}

input:focus, textarea:focus {
  background-color: #FEF7EC;
  border: 1px solid #577CDA;
}

::placeholder{
  color: #aaa;
}

/* payment form + cart */

.all {
  padding-top: 2em;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-25 {
  -ms-flex: 40%;
  flex: 40%;
  background-color: rgb(249, 249, 249);
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 60%;
  flex: 60%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 15px;
}

.container {
  padding: 5px 20px 20px 20px;
}

.container input {
  font-family: lunchtype, Helvetica, sans-serif;
  font-style: normal;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #0039CA;
}

span.price {
  float: right;
  color: grey;
}

.div_cart {
  min-width: 300px;
}

/* cart in-text link */

.container a {
  font-family: lunchtype, Helvetica, sans-serif;
  font-style: normal;
  text-decoration: none;
  color: grey;
  border-bottom: 1px solid #0039CA;
  transition: .5s ease-in-out;
}

.container a:hover {
  color: #FFAA12;
  border-bottom: 1px solid #FFAA12;
}

/* style guide */

.element {
  background-color: white;
  padding: 10px 20px 20px;
  margin-bottom: 10px;
  border: 1px solid #0039CA;
}

.in-text {
  text-decoration: none;
  border-bottom: 2px solid #0039CA;
  color: black;
  transition:  .5s ease-in-out;
}

.in-text:hover {
  color: #FFAA12;
  border-bottom: 2px solid #FFAA12;
  transition:  .5s ease-in-out;
}

.field_label label {
  display: block;
  margin-bottom: 5px;
}

.field_label input {
  display: block;
  padding: 8px;
  color: rgb(11, 11, 11);
}

#review {
  width: 60%;
  height: 200px;
  font-family: lunchtype, Helvetica, sans-serif;
  font-size: 1em;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #0039CA;
}

.listing_card img {
  height: auto;
  max-width: 80%;
  -webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#image-link{
  max-width: 400px;
}
#image-link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* product listing */

.listing_card {
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.product_listing {
  display: flex;
  flex-wrap: wrap;
  }

.price {
  color: grey;
}

.listing_card img {
  height: auto;
  max-width: 80%;
  border: none;
  -webkit-transform: scale(0.8);
	transform: scale(0.9);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.listing_card img:hover {
  border: none;
  -webkit-transform: scale(1.3);
  transform: scale(1);
  cursor: pointer;
}

.product_listing button {
  width: 45%;
  display: inline;
}

.view-button {
  border-color: #0039CA;
  font-family: lunchtype, Helvetica, sans-serif;
  color: #0039CA;
  background-color: white;
  letter-spacing: .3px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  padding: 5px 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  letter-spacing: 0.09em;
}

.view-button:hover, .view-button:focus {
  background-color: #FFAA12;
  border-color: #FFAA12;
  color: white;
}

/* product card */

.card {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  flex-wrap: wrap;
  background: white;
  border: 1px solid #0039CA;
  align-items: stretch;
}
.card-product-photos{
  width: 50%;
  text-align: center;
}
.card-description{
  width: 50%;
  padding: 5%;
  border-left: 1px solid #0039CA;
}

.card-photo{
  border-bottom: 1px solid #0039CA;
  height: 70%;
}
.card-photo img{
  width: 80%;
  padding: 5% 2% 10% 2%;
  margin: auto;
}
.card-photo-gallery{
  display: flex;
  justify-content: space-evenly;
  max-height: 30%;
}
.card-photo-gallery img{
  max-width: 25%;
  padding: 3% 0;
}

/* home page */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  padding-bottom: 1em;
}

.banner {
  width: 100vw;
  height: 600px;
  background-image: url("/img/home_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  left: 0;
}

.news_home {
  top: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.news_column {
  padding-top: 2em;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

.news_title {
  margin-top: 12px;
  margin-bottom: 10px;
}

.news_home_img:hover{
  opacity: .7;
}

.news_home img{
  width: 100%;
}

/* button class */

.btn {
  font-size: .7em;
  border-color: #0039CA;
  background-color: #0039CA;
  color: white;
  font-family: lunchtype, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  padding: 11px 30px 12px 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  letter-spacing: 0.09em;
  text-decoration: none;

}

.btn:hover, .btn:focus {
  background-color: #FFAA12;
  border-color: #FFAA12;
  color: white;
}

/* Contact page */

.h2-contact-page{
  padding-bottom: 20px;
  border-bottom: 1px solid #0039CA;
}


/* news PAGE */

.news_page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news_page_column {
  padding: 4% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #0039CA;
}

.news_page_img{
  width: 40%;
}

.news_page_img:hover{
  opacity: .7;
}

.news_page_container{
  width: 55%;
  padding-top: 2%;
}

.news_page img{
  width: 100%;
}

/* news1 content page */
.news_img {
  padding-top: 2em;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.news1_title {
  max-width: 700px;
}

.news1_content {
  max-width: 800px;
}
